* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b30000;
}

#cabecalho-principal {
  background-color: #dddddd;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pontuacao-game {
  background-color: #61b1ea;
  border-radius: 30px;
  color: white;
  padding: 5px 50px;
  font-size: 20px;
  font-weight: 700;

  margin-left: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#pontuacao-game img {
  height: 20px;
  margin-right: 15px;
}

#nome-jogo {
 font-weight: bold;
 font-size: 27px;
 margin-right: 15px;
}

#corpo {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

#direita img {
  height: 390px;
}

#esquerda {
  margin-left: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#cor-atual {
  margin-top: 15px;
  height: 200px;
  width: 200px;

  border: 10px solid black;
  border-radius: 15px;
}

#btn-responder {
  background-color: transparent;
  color: white;
  padding: 15px 50px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

#rodape {
  background-color: rgb(26, 26, 32);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rodape img{
  height: 90px;
}